:root{
    --color1: rgb(0, 0, 0);
    --color2: rgb(43, 43, 43);
    --color3:rgb(8, 144, 207);
    --color4: white;
    --color5: rgb(73, 73, 73);
}
body{
    margin: 0;
    padding: 0;
    border:none;
    background-color: var(--color1);
    color: var(--color4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.main-container{
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    padding:0px 3rem;
}
.right-menu{
    border-left: 1px solid var(--color2);
    height:100%;
}
.left-menu{
 font-size: 19px;
 font-weight: 700;
 border-right: 1px solid var(--color2);
 height:100vh;
}
.tweet-btn{
    background-color: var(--color3);
    border-radius: 25px;
    color: var(--color4);

}
.big{
    font-size:large;
    font-weight: 400;
    height:55px;
    max-width: 230px;
    padding: 15px;
    margin: 0 auto;
    margin-left: 30px;
}
.smol{
    font-size: large;
    height:40px;
    max-width: 100px;
    padding: 5px;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.3rem;
}
.menu-list .list-item{
    display:flex;
    align-items: center;
    padding-left:15px;
    padding-right: 15px;
    width: fit-content;
}
.menu-list .list-item:hover{
    background-color: var(--color2);
    border-radius: 25px;
}
.icon-menu{  
    height:26px;
    width:auto;
    margin-right: 15px;
}

#logo{
    max-width: 50px;
    height: 40px;
    margin-left: 10px;
}
.trends-container,
.might-know-container
{
    background-color:var(--color2);
    height:200px;
    margin: 10px auto;
    border-radius: 25px;
    padding:0px 10px;
    max-width: 300px;
}
.search-area{
    background-color: var(--color2);
    border-radius: 25px;
    height:40px;
    border: none;
}
.main-content{
width:100%;
position: sticky;
top:0px;
}
.content-filter{
    width:inherit;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}
.home-top{
    height:35px;
    padding: 15px;
}
.tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:50px;
    border-bottom: 2px solid var(--color2);
}
.tab{
    width:100%;
    padding:15px;
    text-align:center;
    
}
.tab:hover{
    background-color:rgb(58, 58, 58,0.3);
    transition: 0.1s ease-in-out;
    border-bottom: 3px solid var(--color3)
}
.new-tweet-area{
    position:relative;
    top: 150px;
}
.legal{
    font-size: small;
}
.legal a, .copy{
    text-decoration: none;
    color:var(--color5)
}
.account-selector{
    border-radius:30px;
    font-size: x-small;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    line-height: 10px;
    padding: 3px 10px;
    max-width: 230px;
    letter-spacing:0.07rem;
    margin-left:20px;
    margin-top:15px;
}
.account-info{
    flex-direction: column;
    min-width: 100px;
}
#account-img{
    max-width:40px;
    height: 40px;
    margin-top:11px;
}
.icon-menu-account{
    height:5px;
    width:auto;
    margin-top:27px;
}
.account-selector:hover{
    background-color: var(--color2);
    transition: 0.1s ease-in-out;
}
#account-name{
 font-weight:bold;
 font-size:14px;
}
#account-handle{
    color:var(--color5);
    font-size:11px;
}
