:root{
    --color1: rgb(0, 0, 0);
    --color2: rgb(43, 43, 43);
    --color3:rgb(8, 144, 207);
    --color3b:rgb(4,100,150);
    --color4: white;
    --color5: rgb(73, 73, 73);
    --color6: rgb(20,20,20);
}
body{
    margin: 0;
    padding: 0;
    border:none;
    background-color: var(--color1);
    color: var(--color4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.main-container{
    display: grid;
    grid-template-columns: 275px auto 375px;
    margin: 0 auto;
    padding:0px 3rem;
}
.right-menu{
    border-left: 1px solid var(--color2);
    position: sticky;
    top:0px;
}
.left-menu{
 font-size: 19px;
 font-weight: 700;
 border-right: 1px solid var(--color2);
 position: sticky;
 top:0px;
}
.tweet-btn{
    background-color: var(--color3);
    border-radius: 25px;
    color: var(--color4);

}
.tweet-btn:hover{
    background-color: var(--color3b);
}
.big{
    font-size:large;
    font-weight: 400;
    height:55px;
    width: 250px;
    padding: 15px;
    margin: 0 auto;
}
.smol{
    font-size: large;
    height:40px;
    max-width: 100px;
    padding: 5px;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.3rem;
}
.menu-list .list-option{
    display:flex;
    align-items: center;
    padding-left:15px;
    padding-right: 15px;
    width: fit-content;
}
.menu-list .list-option:hover{
    background-color: var(--color2);
    border-radius: 25px;
}
.icon-menu{  
    height:26px;
    width:auto;
    margin-right: 15px;
}

#logo{
    max-width: 50px;
    height: 40px;
    margin-left: 10px;
}
.search-bar-container{
    background-color: var(--color1);
    position:sticky;
    top:0px;
    padding:1px 0px;
}
.search-area{
    display:flex;
    margin:10px auto;
    width: 330px;
    background-color: var(--color2);
    border-radius: 25px;
    height:40px;
    border: none;
}
.main-content{

    position: sticky;
top:0px;
z-index:1;
}
.content-filter{
    width:inherit;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}
.home-top{
    height:35px;
    padding: 15px;
}
.tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:50px;
    border-bottom: 2px solid var(--color2);
}
.tab{
    width:100%;
    padding:15px;
    text-align:center;
    
}
.tab:hover{
    background-color:rgb(58, 58, 58,0.3);
    transition: 0.1s ease-in-out;
    border-bottom: 3px solid var(--color3)
}
.new-tweet-area{
    position:relative;
    border-bottom: 1px solid var(--color2);
    display:flex;
    justify-content: space-evenly;
    padding: 15px 5px;
}
.tweet-text-button-area{
display:flex;
flex-direction: column;
width:550px;
}
.tweet-input-area{
    background-color:var(--color1);
    border:none;
    height:50px;
    border-bottom: 1px solid var(--color2);
    width:100%;
    margin:5px 0px;
}
.smol{
    position: relative;
    align-self: flex-end;
min-width:100px;
}
.legal{
    font-size: small;
    max-width:320px;
    margin:5%;
}
.legal a, .copy{
    text-decoration: none;
    color:var(--color5);
}
.account-selector{
    border-radius:30px;
    font-size: x-small;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    line-height: 10px;
    padding: 3px 10px;
    max-width: 230px;
    letter-spacing:0.07rem;
    margin-top:15px;
}
.account-info{
    flex-direction: column;
    min-width: 100px;
}
#account-img{
    max-width:40px;
    height: 40px;
    margin-top:11px;
}
.icon-menu-account{
    height:5px;
    width:auto;
    margin-top:27px;
}
.account-selector:hover{
    background-color: var(--color2);
    transition: 0.1s ease-in-out;
}
#account-name{
    font-weight:bold;
    font-size:14px;
}
#account-handle{
    color:var(--color5);
    font-size:11px;
}
.big{
    min-width: 170px;
}
.trends-container,
.might-know-container
{
    background-color:var(--color6);
    height:auto;
    margin: 10px 25px;
    border-radius: 25px;
    max-width: 370px;
}
.trends-container{
    height:auto;
}
.trend{
    height:50px;
    padding: 15px 15px;
}
.trend:hover,.show-more:hover{
    background-color:var(--color2)
}
.show-more:hover{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.misc-info{
    color: var(--color5);
}
.show-more{
    padding:15px 15px;
}
.right-menu-section-title{
    padding: 15px 15px;
}
.related-users:hover{
background-color: var(--color2);
}